Source: vyatta-vrrp
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, automake, autoconf, cpio
Standards-Version: 3.9.1
Package: vyatta-vrrp
Architecture: all
Depends: perl,
 vyatta-cfg (>= 0.99.83),
 vyatta-cfg-system (>= 0.20.8),
 vyatta-op (>= 0.13.259),
 vyatta-bash | bash (>= 3.1),
 keepalived (>= 1.2.2)
Description: VyOS configuration and operational commands for VRRP
 VyOS configuration and operational templates and scripts for VRRP
