Source: vyatta-vrrp
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-vrrp
Architecture: all
Depends: perl,
 vyatta-cfg (>= 0.99.83),
 vyatta-cfg-system (>= 0.20.8),
 vyatta-op (>= 0.13.259),
 vyatta-bash | bash (>= 3.1),
 vyatta-keepalived (>= 1.2.2)
Description: Vyatta VRRP configureation/operational commands
 Vyatta configuration/operational templates and scripts for VRRP

Package: vyatta-vrrp-dataplane
Architecture: all
Depends:  vyatta-vrrp, vplane-config
Description: vyatta-vrrp dataplane templates
 Vyatta configuration templates for VRRP use on dataplane devices

